<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <div class="input-field">
        <label for="status">Enter Status : </label>
        <input type="text" for="status" [(ngModel)]="filteredStatus">
      </div>
      <br>

      <h2>Total Status : {{appStatus | async}}</h2>

      <button type="button" class="btn btn-primary" (click)="AddNewServer()">Add Server</button>

      <hr>

      <!--Reverse & Sort Methods-->

      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers | filter: filteredStatus : 'status'| sort: 'name'"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge" style="padding: 5px 10px;">
            {{ server.status | uppercase }}
          </span>
          <strong>{{ server.name | Shorten : 14 }}</strong> |
          {{ server.instanceType | uppercase | reverse}} |
          {{ server.started | date: 'fullDate' | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
